.login-wrapper {
    height: 100%;
    background-image: url(../../assets/login_background.jpeg);
    background-size: cover;
}

@media screen and (min-device-width: 768px) {
    .login {
        max-width: 550px;
        padding: 50px;
        margin: 0 auto;
    }

    .title {
        font-size: 24px;
        text-shadow: 0 0 5px #fff;
    }
}

@media screen and (max-device-width: 768px) {
    .login {
        width: 100%;
        padding: 1rem;

        .form {
            padding: 0 .75rem;
        }

        .title {
            font-size: 1.5em;
            text-shadow: 0 0 .2em #fff;
        }
    }
}

.login {
    .content {
        background: #efefef;
        border-radius: 0 0 5px 5px;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, .2);
    }

    .title {
        font-weight: normal;
        color: #333;
    }
}