* {
    padding: 0;
    margin: 0;
}

ul,
li {
    list-style: none;
}

html,
body,
#root {
    height: 100%;
}

.header {
    color: #fff;

    h1 {
        color: #fff;
    }
}

h3.title {
    width: auto;
    padding: 0 20px 20px 0;
    font-size: 18px;
    font-weight: normal;
    color: #666;
}

@media screen and (max-device-width: 677px) {
    h3.title {
        font-size: .5rem;
        padding: 0;
    }

    .ant-table {
        .antd-table-content {
            font-size: .3rem !important;
        }
    }

    .ant-btn {
        font-size: .3rem !important;
    }
}